<p class="transbox4"></p>

{{navbar-home}}

<div class="container-fluid">
  <div class="row">

    <section class="left col-xs-1">
      <!--"left">-->
    </section>
      <p class="transbox2"></p>

    <main class="content">
      <!--"center">-->
      <!-- <h3>To begin your quest in finding your recipe-X, in steps 1-5, select the ingredients that are present in your refrigerator. </h3> -->
      <!-- <img class = "transbox" src="https://cdn.discordapp.com/attachments/433847266663596032/446447445166260224/logo2.png"> -->
            <!-- <img class = "transbox3" src="https://cdn.discordapp.com/attachments/433847266663596032/446447445166260224/logo2.png"> -->

      <form>
        <!--Buttons for the selection of vegetables-->

        <div class="Ingredients">
          <h1> Common Ingredients </h1>
          <div class="test">
            <div class="contr">
              <h1 class="Choose">Step 1: Choose your veggies</h1>
              {{#each model.veggies as |food|}}
                <div class="row">
                  <div class="col-xs-4">
                    <div class="I2">
                      <button class="not-selected buttons" {{action 'toggleBody'}} type="button"> {{food.ingredient}} </button>
                    </div>
                  </div>
                  <!--col-4-->
                </div>
                <!--row-->
              {{/each}}
            </div>
            <h1 class="Choose">Step 2: Choose your fruit</h1>
            {{#each model.fruit as |food|}}
              <div class="row">
                <div class="col-xs-4">
                  <div class="I2">
                    <button class="not-selected buttons" {{action 'toggleBody'}} type="button">  {{food.ingredient}}</button>
                  </div>
                </div>
                <!--col-4-->
              </div>
              <!--row-->
            {{/each}}

            <h1 class="Choose">Step 3: Choose your grains</h1>
            {{#each model.grain as |food|}}
              <div class="row">
                <div class="col-xs-4">
                  <div class="I2">
                    <button class="not-selected buttons" {{action 'toggleBody'}} type="button">  {{food.ingredient}}</button>
                  </div>
                </div>
                <!--col-4-->
              </div>
              <!--row-->
            {{/each}}

            <h1 class="Choose">Step 4: Choose your meats</h1>
            {{#each model.meats as |food|}}
              <div class="row">
                <div class="col-xs-4">
                  <div class="I2">
                    <button class="not-selected buttons" {{action 'toggleBody'}} type="button">  {{food.ingredient}}</button>
                  </div>
                </div>
                <!--col-4-->
              </div>
              <!--row-->
            {{/each}}

            <h1 class="Choose">Step 5: Choose your dairy</h1>
            {{#each model.dairy as |food|}}
              <div class="row">
                <div class="col-xs-4">
                  <div class="I2">
                    <button class="not-selected buttons" {{action 'toggleBody'}} type="button">  {{food.ingredient}}</button>
                  </div>
                </div>
                <!--col-4-->
              </div>
              <!--row-->
            {{/each}}

            <br><br><br>
            <h1 class="Choose">Step 6: Custom Ingredients</h1>

            <textarea rows="10" cols="80" class="customIngredients" placeholder="(Optional) Please enter any custom ingredients. Separate multiple ingredients with a comma. (Example: corn, cilantro)"></textarea>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <div class="I2">
                <!--textbox form-->
              </div>
            </div>
            <!--col-4-->
          </div>
          <!--row-->


        </div>
        <!--Ingredients-->

        <div class="bottomButtons">
          <!--Button to reset the form-->
          <button class="resetButton" {{action 'resetButtons'}} type="reset">Reset</button>

          <!--Button to submit the form. The form should save all the selected buttons into a list in JavaScript-->
          <button type="button" {{action 'submit'}} class="nextButton">Next</button>
        </div>
      </form>

    </main>

    <section class="right col-xs-1">
      <!--"right">-->


    </section>
  </div>
  <!--row-->

</div>

<!--container-fluid-->
