{{navbar-home}}
<h1>Recipes</h1>
<ul style="font-weight:bold">
  {{#each model.recipes as |item|}}
    <li>{{item.publisher}}</li>
    <li>{{item.f2f_url}}</li>
    <li>{{item.title}}</li>
    <li>{{item.source_url}}</li>
    <li>{{item.recipe_id}}</li>
    <li><img src="{{item.image_url}}" />"</li>
    <li>{{item.social_rank}}</li>
    <li>{{item.publisher_url}}</li>
  {{/each}}
</ul>
