{{navbar-home}}

<div class="results">
  <h1>Recipes for: {{ingred}}</h1>
  <div class="panel-group" id="accordion">
    {{#each model.hits as |item index|}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{index}}">{{item.recipe.label}}</a>
          </h2>
        </div>
        <div id="collapse{{index}}" class="panel-collapse collapse">
          <div class="panel-body">
            <iframe height="2000px" width="100%" src="{{item.recipe.url}}"></iframe>
            {{!--<ul>
              <li>Source: {{item.recipe.url}}</li>
              <li><img src="{{item.recipe.image}}" />"</li>
              <li>
                {{#each item.recipe.ingredientLines as |test|}}
                  <li>{{test}}</li>
                {{/each}}
              </li>
            </ul>--}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
